.special-card {
  display: flex;
  flex-direction: column;
  background-color: #EDEFEE;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 300px;
  max-height: 400px;
  padding: 0 0 20px 0;
}

.special-card-image {
  height: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.special-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-card-text {
  padding: 20px;
  text-align: center;
}

.special-card-text h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.special-card-text p {
  text-align: start;
  font-size: 16px;
  color: #555;
}

#price {
  color: #ea7742;
  font-weight: bold;
}

.special-card-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: hsl(160, 13%, 33%, 0.5);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  margin-left: 20px;
}

.specials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.specials-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
}

.special-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px 0;
}

.menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 0;
}