.header-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 100px;
  align-items: center;
  max-width: 1200px;
  height: 90vh;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #495e57;
  color: #edefee;
}

button {
  padding: 10px;
  margin-top: 30px;
  font-size: 22px;
  background-color: #f4ce14;
  color: black;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 16px;
}

.header-image {
  max-width: 250px;
  height: auto;
  border-radius: 15px;
}

.header-container h1 {
  font-size: 54px;
  font-weight: 700;
  margin: 0;
  color: #f4ce14;
}

.header-container h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #edefee;
}

.header-container p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: white;
}
