.footer-container {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-column {
  text-align: center;
}

.footer-column li {
  list-style: none;
  margin: 5px 0;
}

.footer-column li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-column p {
  color: white;
  font-weight: bold;
}