.testimonial-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.testimonial-card-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.testimonial-card-stars img {
  width: 20px;
  height: 20px;
}

.testimonial-card-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.testimonial-card-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-card-header h3 {
  font-size: 18px;
  color: #333;
}

.testimonial-card-text {
  padding: 20px;
  text-align: start;
}

.testimonial-card-text p {
  font-size: 16px;
  color: #555;
}

.testimonials-container {
  width: 100%;
  margin: 30px auto;
  padding: 20px;
  background-color: #EDEFEE;
  padding: 30px 20px;
  border-radius: 15px;
}

.testimonials-header {
  text-align: center;
  margin-bottom: 20px;
}

.testimonials-header h2 {
  font-size: 28px;
  color: #333;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -10px;
}
