* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define a CSS Grid layout for the entire page */
body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
  grid-template-columns: 1fr; /* Single column layout */
  min-height: 100vh; /* Ensure full viewport height */
}

/* Style for the header section */
header {
  padding: 20px;
}

/* Style for the navigation section */
nav {
  padding: 10px;
}

/* Style for the main content section */
main {
  padding: 20px;
}

/* Style for the footer section */
footer {
  background-color: #333333;
  height: 50vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
}

p, a, li, input, label, button {
  font-family: 'Karla', sans-serif;
}


